.content{
    padding-top: 7%;
    font-size: 21px;
    padding-left: 6%;
    color: rgb(203, 231, 79);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ava__description{
    color: gold;
    padding-left: 9%;
  }
  .button{
    text-align: center;
    color: gold;
    font-size: 21px;
    text-decoration: wavy;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 8%;
  }
  .MainPost{
    margin-left: 6.9em;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
  }