/* .block{
  grid-area: c;
    background-color:  cornflowerblue;
} */

.dialogs{ 
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogs__item .active{
  color: gold;
}
.messages{
  text-align: left;
}
.img{
  width: 40px;
}
.txtblock{
  padding-left: 20%;
}