.nav{
    grid-area: n;
    background-color: rgb(199, 156, 64);
  }
.nav__link{
  text-align: center;
  padding-top: 1.2em;
  font-size: 18px;
}
.nav__link a{
  text-decoration: none;
  color: rgb(236, 236, 207); 
  font-style: italic;
}
.nav__link a:hover{
  color: gold;
  transition: 0.3s;
}
.nav__link a.active{
  color: gold;
}
.frineds img{
  width: 70px;
    display: inline-flex;
    flex-direction: row;
  border-radius: 60%;
  margin-top: 12%;
}
.names{
  padding-top: 5%;
  word-spacing: 19px;
  color: azure;
  font-size: 24px;
  font-weight: 500;
}
.nav__link__last{
  text-align: center;
  padding-top: 2.8em;
  font-size: 27px;
}
.nav__link__last a{
  text-decoration: none;
  color: white;
}
